*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
    background-color: #527fdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 25px;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container .form{
    width: 500px;
    padding: 15px 0 15px 15px;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid #527fdf;
    position: relative;
}

.form input{
    outline: none;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #527fdf;
}

.container .form button{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 25px;
    cursor: pointer;
    border: 1px solid #527fdf;
    background-color: #527fdf;
    color: #fff;
    outline: none;
}

.container .text{
    margin: 30px 0;
    padding: 0 15px;
}

.text p{
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #527fdf;
    position: relative;
}

.text p::before{
    width: 2px;
    background-color: #527fdf;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
}